
/*based on http://menu.com/ 2011-Dec-01 14:25:59*/


#pcm{display:none;}
ul.menu ul{display:none}
ul.menu li:hover>ul{display:block}
ul.menu ul{position: absolute;left:-1px;top:98%;}
ul.menu ul ul{position: absolute;left:98%;top:-2px;}
ul.menu,ul.menu ul {
	margin:0px;
	list-style:none;
	padding:0px 1px 1px 0px;
	background-color:#2b434f;
	background-repeat:repeat;
	border-color:#0c2538;
	border-width:0px;
	border-style:solid;
}
ul.menu table {border-collapse:collapse}ul.menu {
	display:block;
	zoom:1;
	float: left;
}
ul.menu ul{
	width:137.55px;
}
ul.menu li{
	display:block;
	margin:1px 0px 0px 1px;
	font-size:0px;
}
ul.menu a:active, ul.menu a:focus {
outline-style:none;
}
ul.menu a, ul.menu li.dis a:hover, ul.menu li.sep a:hover {
	display:block;
	vertical-align:middle;
	background-color:#2b434f;
	border-width:0px;
	border-color:#0c2538;
	border-style:solid;
	text-align:left;
	text-decoration:none;
	padding:5px;
	_padding-left:0;
	font-size:12px;
	font-family: "futura-pt-1","futura-pt-2","helvetica neue",helvetica,arial,sans-serif;
	color: #000000;
	text-decoration:none;
	cursor:pointer;
}
ul.menu span{
	overflow:hidden;
}
ul.menu li {
	float:left;
}
ul.menu ul li {
	float:none;
}
ul.menu ul a {
	text-align:left;
	white-space:nowrap;
}
ul.menu li.sep{
	text-align:left;
	padding:0px;
	line-height:0;
	height:100%;
}
ul.menu li.sep span{
	float:none;	padding-right:0;
	width:3;
	height:100%;
	display:inline-block;
	background-color:#638270;	background-image:none;}
ul.menu ul li.sep span{
	width:100%;
	height:3;
}
ul.menu li:hover{
	position:relative;
}
ul.menu li:hover>a{
	background-color:#638270;
	border-color:#4C99AB;
	border-style:solid;
	font-size:12px;
	font-family: "futura-pt-1","futura-pt-2","helvetica neue",helvetica,arial,sans-serif;
	color: #FFFFFF;
	text-decoration:none;
}
ul.menu li a:hover{
	position:relative;
	background-color:#638270;
	border-color:#4C99AB;
	border-style:solid;
	font-size:12px;
	font-family: "futura-pt-1","futura-pt-2","helvetica neue",helvetica,arial,sans-serif;
	color: #FFFFFF;
	text-decoration:none;
}
ul.menu li.dis a {
	color: #AAAAAA !important;
}
ul.menu img {border: none;float:left;_float:none;margin-right:5px;width:16px;
height:16px;
}
ul.menu ul img {width:16px;
height:16px;
}
ul.menu img.over{display:none}
ul.menu li.dis a:hover img.over{display:none !important}
ul.menu li.dis a:hover img.def {display:inline !important}
ul.menu li:hover > a img.def  {display:none}
ul.menu li:hover > a img.over {display:inline}
ul.menu a:hover img.over,ul.menu a:hover ul img.def,ul.menu a:hover a:hover ul img.def,ul.menu a:hover a:hover a:hover ul img.def,ul.menu a:hover a:hover img.over,ul.menu a:hover a:hover a:hover img.over,ul.menu a:hover a:hover a:hover a:hover img.over{display:inline}
ul.menu a:hover img.def,ul.menu a:hover ul img.over,ul.menu a:hover a:hover ul img.over,ul.menu a:hover a:hover a:hover ul img.over,ul.menu a:hover a:hover img.def,ul.menu a:hover a:hover a:hover img.def,ul.menu a:hover a:hover a:hover a:hover img.def{display:none}
ul.menu a:hover ul,ul.menu a:hover a:hover ul,ul.menu a:hover a:hover a:hover ul{display:block}
ul.menu a:hover ul ul,ul.menu a:hover a:hover ul ul{display:none}
ul.menu span{
	display:block;
	background-image:url(./dropdownMenu_images/arrv_blue_2.gif);
	background-position:right center;
	background-repeat: no-repeat;
   padding-right:8px;}
ul.menu li:hover>a>span{	background-image:url(./dropdownMenu_images/arrv_white_2.gif);
}
ul.menu a:hover span{	_background-image:url(./dropdownMenu_images/arrv_white_2.gif)}
ul.menu ul span,ul.menu a:hover table span{background-image:url(./dropdownMenu_images/arr_blue_2.gif)}
ul.menu ul li:hover > a span{	background-image:url(./dropdownMenu_images/arr_white_2.gif);}
ul.menu table a:hover span,ul.menu table a:hover a:hover span,ul.menu table a:hover a:hover a:hover span{background-image:url(./dropdownMenu_images/arr_white_2.gif)}
ul.menu table a:hover table span,ul.menu table a:hover a:hover table span{background-image:url(./dropdownMenu_images/arr_blue_2.gif)}
ul.menu li a.menui0{
font:n;
}
ul.menu li a.menui0:hover{
font:o;}