/************** General **************/


@font-face {
	font-family: textFont;
src: url('SourceSansPro-Regular');  /*  http://sourceforge.net/projects/sourcesans.adobe/files/*/

} 

@font-face {
	font-family: codeFont;
src: url('VeraMono.ttf');  /* http://www.dafont.com/bitstream-vera-mono.font*/
} 



@font-face {
	font-family: titleFont; /* http://openfontlibrary.org/en/font/a-bebedera */
src: url('Abebedera.ttf'),
     url('Abebedera.otf');
} 


html  { overflow-y: scroll; }

body {
	margin: 0;
}

p  {
	font-size: 1.1em;
	 color: #000000;

	}


p, tt, h1, h2, h3, h4, h5, h6 {
	font-family: textFont;
	padding-left: 0.5em;
	padding-right: 0.25em;
	
	}

h1 { 
	margin-top: 0.5em;
	font-size: 1.6em; 
}

h2 { 
	font-size:1.3em; 
}

h3 { 
   font-size:1.2em; 
}

h4 { 
   font-size:1.0em; 
}

h5 { 
   font-size:0.9em; 
}

h6 { 
   font-size:0.8em; 
}

a:visited {
   color: rgb(50%, 0%, 50%);
}



table, td, th {
  border: none;
}

blockquote {
   color:#666666;
   margin:0;
   padding-left: 1em;
   border-left: 0.5em #EEE solid;
}

hr {
   height: 0px;
   border-bottom: none;
   border-top-width: thin;
   border-top-style: dotted;
   border-top-color: #999999;
}


/************** Title and left bar **************/

#layout-content-box {
  position: relative;
  margin-left: 160px;
  background-color: white;

}

#layout-banner {
  color: grey;
  background-color:#e3eaef;
  text-align: left;
  padding: 0.8em 20px;
}

#layout-title, #layout-description, #layout-menu{
 	font-family: titleFont;

}

#layout-title {
	font-weight: normal;
	letter-spacing: 0.2em;
	font-size: 3.5em;
	margin: 0;
	background-image:url('wren.png');
	background-repeat:no-repeat;
	background-position: right bottom;

}

#layout-description {
 font-size: 1.4em;
 letter-spacing: 0.06em;
 font-style: italic;
}



/************** Vertical CSS menu (4 level) **************/

#layout-leftBar a , #layout-leftBar a:link, #layout-leftBar a:visited, #layout-leftBar a:hover {
		color:  #000000;
}

#layout-leftBar a { /* distance between arrow and label */
  line-height: 1.5em;
  margin-left: 1.3em; /* distance between arrow and label */
}

#layout-leftBar a:link, #layout-leftBar a:visited, #layout-leftBar a:hover {

	text-decoration: none;
}

div#layout-leftBar{
	font-family: textFont;
	width: 160px;
	margin: 0;
	padding: 0;
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	z-index: 100;
	background-color:#e3eaef;
	}

div#layout-leftBar h4	{ /* menu title */
	color: rgb(147, 31, 0);
	margin-left:1.5em;
	letter-spacing: 0em;
	
	}

div#layout-leftBar li , div#layout-leftBar ul ul	{
	border-bottom: 0.1em solid  rgb(1, 1, 1);
}
	
div#layout-leftBar ul {
	margin: 0;
	padding: 0;
	width: 160px;
	}

div#layout-leftBar li	{ /*menu-s margin left */
	position: relative;
	list-style: none;
	margin: 0;
	margin-left: 0.8em;
	background-image: url("./arrow1.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 9px 9px;
	}
	
	
div#layout-leftBar li.submenu:hover, div#layout-leftBar li:hover{
	background-image: url("./arrow2.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 9px 9px;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
}	
	

div#layout-leftBar ul ul	{ /*secondary menu: relative position etc */
	position: absolute;
	top: 3px;
	left: 8.05em; /*relative pos secondary menu */
	display: none;
	background-color:#e9eaef;
	margin: 0;
	}

*html div#layout-leftBar ul ul	{ /* IE positioning bug */
	position: absolute;
	top: -1px;
	left: 160px;
	}

*html div#layout-leftBar ul ul ul	{
	position: absolute;
	top: -1px;
	left: 160px;
	}

	
div#layout-leftBar ul.level1 li.submenu:hover ul.level2	{
	display: block;
	z-index: 999;
	}

div#layout-leftBar ul.level2 li.submenu:hover ul.level3	{
	display: block;
	z-index: 999;
	}

div#layout-leftBar ul.level3 li.submenu:hover ul.level4	{
	display: block;
	z-index: 200;
	}


div#layout-leftBar li a	{ /*vertical dist between labels*/
	display: block;
	font-size: .85em;
	padding: 3px 2px 3px 5px;
	height: 1%;
	}

div#layout-leftBar>ul a	{
	width: auto;
	}



/************** Footer **************/

footer {
  font-family: codeFont;
  font-size: 0.8em;
  border-top: 1px solid silver;
  padding-top: 0.5em;
  margin-top: 2.0em;
}



#footer-badge {
  float: right;
  padding-bottom: 0.1em;
}




/************** Markdown & Syntax Highlighter **************/


tt, code, pre {
font-size: 1em;
font-family: codeFont;


}

pre,pre code, code.r {
	padding-left: 0.5em;
	padding-right: 0.25em;
	
	}


/* syntax highlight*/

pre {	
   margin-top: 0;
   max-width: 95%;
   border: 1px solid #ccc;
     
}

pre code {
   display: block; padding: 0.5em;
}

code.r {
   background-color:#eeeeee;
}

pre .operator,
pre .paren {
 color: rgb(104, 118, 135);
}

pre .literal {
 color: rgb(88, 72, 246)
}

pre .number {
 color: rgb(0, 0, 205);
}

pre .comment {
 color: rgb(76, 136, 107);
}

pre .keyword {
 color: rgb(0, 0, 252);
}

pre .identifier {
 color: rgb(0, 0, 0);
}

pre .string {
 color: rgb(3, 106, 7);
}



@media print {
   * { 
      background: transparent !important; 
      color: black !important; 
      filter:none !important; 
      -ms-filter: none !important; 
   }

   body { 
      font-size:12pt; 
      max-width:100%; 
   }
       
   a, a:visited { 
      text-decoration: underline; 
   }

   hr { 
      visibility: hidden;
      page-break-before: always;
   }

   pre, blockquote { 
      padding-right: 1em; 
      page-break-inside: avoid; 
   }

   tr, img { 
      page-break-inside: avoid; 
   }

   img { 
      max-width: 100% !important; 
   }

   @page :left { 
      margin: 15mm 20mm 15mm 10mm; 
   }
     
   @page :right { 
      margin: 15mm 10mm 15mm 20mm; 
   }

   p, h2, h3 { 
      orphans: 3; widows: 3; 
   }

   h2, h3 { 
      page-break-after: avoid; 
   }
}

	









